
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-[500px] w-[350px] overflow-hidden bg-slate-50 font-sans;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
  
  #root {
    @apply h-full w-full flex flex-col;
  }
}
